
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
}


.header {
    background-color: #2c3e50;
    color: white;
    padding: 25px;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #34495e;
    padding: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover{
    color:indianred;
    font-size: 130%;
    transition: 0.5s ease;
    
    
}
#card1 img{
    width:100%;
    margin-left: 0px;
    padding: 20px;
}
#card2 img{
    width:100%;
    margin-left: 0px;
    padding: 16px;
    margin-left: -15px;
    margin-top: -5px;
}
#card3 img{
    width:100%;
    margin-right: 100px;
    margin-left: -12px;
    padding: 10px;
}
.card:hover{
    box-shadow: 1px 1px 25px black;
}
.card a:hover{
    color:coral
    
}
.btn-area button:hover{
    color:black;
    transition: 0.5 ease;

}


.container {
    width: 85%;
    margin: auto;
    margin-top: 60px;
}


.intro {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: -1100px;
    margin-right: 100px;
    position:absolute;
    
}
.vid{ 
    padding: 0px; 
     margin-top: 550px;
    margin-left: 130px;
    margin-right: 20px; 
    width: 1066px;
    height: 600px;
     display: flex;
     
    }

    .vid:hover{
        
        border: 1px solid black;
        box-shadow: 1px 1px 35px black;
        
    }
 
    
.card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.btn-area {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    margin-top: 50px;
}

button {
    padding: 12px 25px;
    border: none;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 12px;
}



@media (max-width: 768px) {

    .grid-box {
        grid-template-columns: 1fr;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 95%;
    }
}
